<!DOCTYPE html>
<html>
<head>
    <title>Add New Train</title>
</head>
<body>
    <h1>Add New Train</h1>
    <form action="/add" method="POST"> <!-- Ensure method="POST" here -->
        <label>Name:</label><br>
        <input type="text" name="name" required><br><br>
        
        <label>Cost:</label><br>
        <input type="number" name="cost" required><br><br>
        
        <label>Distance:</label><br>
        <input type="number" name="distance" required><br><br>
        
        <label>Date:</label><br>
        <input type="text" name="date" required><br><br>
        
        <input type="submit" value="Add Train">
    </form>
</body>
</html>
